body {
  font-family: 'Lato', sans-serif;
  color: #000;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 30px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 16px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
}

.flex_sb_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_sb_fstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_ai_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.top {
  background-color: #f2f2f2;
}

.top_menu {
  font-size: 11px;
  padding: 15px 0 11px 0;
}

.top_menu ul li {
  padding: 0 9px 0 35px;
  border-left: 1px solid #000;
  cursor: pointer;
}

.top_menu ul li:nth-child(1) {
  padding: 0 30px 0 35px;
  border-left: none;
}

.dot_leaders {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top_bar {
  background-color: #fff;
  height: 128px;
  width: auto;
}

#modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4999;
  background: rgba(0, 0, 0, 0.6);
}

#popup {
  position: fixed;
  z-index: 5000;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-187px, -130px);
          transform: translate(-187px, -130px);
  width: 375px;
  height: 260px;
  border-bottom: 4px solid #ebebeb;
  background-color: #fff;
}

.wrapperLg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 296px;
  margin: 0 auto;
}

.wrapperLg p {
  color: #f09d66;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 35px 0 28px 0;
}

.wrapperLg input[type="password"], .wrapperLg div {
  margin-top: 15px;
}

.wrapperLg .checkbox {
  margin-bottom: 30px;
  font-weight: normal;
}

.wrapperLg div {
  position: relative;
}

.wrapperLg div label {
  position: absolute;
  left: -4px;
  color: #ebebeb;
  font-size: 14px;
  font-family: 'Myriad pro', sans-serif;
  text-align: center;
}

.wrapperLg div button {
  position: absolute;
  right: -8px;
}

#close {
  color: #ebebeb;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  width: 100%;
  height: 37px;
  border: none;
  border-left: 4px solid #f09d66;
  background: #ebebeb;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
  padding-left: 12px;
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  padding-left: 12px;
  font-style: italic;
}

.form-control::-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  padding-left: 12px;
  font-style: italic;
}

.form-control::placeholder {
  color: #999;
  font-size: 14px;
  padding-left: 12px;
  font-style: italic;
}

.btnLogin {
  width: 75px;
  height: 30px;
  background: #f09d66;
  border: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.menu li {
  padding-right: 20px;
}

.menu li:hover a {
  color: rgba(36, 36, 36, 0.5);
}

.icons1 div {
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #d9bf8f;
  width: 34px;
  height: 34px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}

.icons1 div:hover {
  border: 2px solid rgba(36, 36, 36, 0.5);
  cursor: pointer;
}

.icons1 div:hover .icon {
  color: rgba(36, 36, 36, 0.5);
}

.icons1 .icon {
  font-size: 18px;
  color: #d9bf8f;
  margin: auto;
}

.first_item {
  margin-left: 50px;
  display: block;
  width: 95px;
  height: 35px;
  background-color: #000;
  font-size: 12px;
  line-height: 35px;
  text-align: right;
  padding-right: 20px;
  color: #fff;
}

.has-sub {
  position: relative;
}

.has-sub:hover .sub-menu {
  display: block;
}

.has-sub:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-width: 4px 0 4px 6px;
  border-style: solid;
  border-color: transparent #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sub-menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 50px;
  z-index: 4;
}

.sub-menu li {
  width: 105px;
  height: 35px;
  background-color: #242424;
  padding-right: 10px;
  text-align: right;
}

.sub-menu li:hover {
  background-color: #000;
}

.sub-menu a {
  font-size: 12px;
  line-height: 35px;
  color: #fff;
}

.slider {
  background-repeat: no-repeat;
  height: 692px;
  background-size: cover;
  position: relative;
  background-position: center top;
}

.sliderNg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sliderNg div img {
  width: 1448px;
  height: 692px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -114px;
  top: -90px;
  z-index: 4000;
  cursor: pointer;
}

.border_external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 276px;
  height: 276px;
  left: 50%;
  margin-left: -138px;
  border: 2px solid #fff;
  top: 120px;
  background: rgba(255, 255, 255, 0.2);
}

.rectangle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 50%;
  margin-right: -100px;
  top: 180px;
}

.rectangle1_1 {
  content: "";
  width: 60px;
  height: 10px;
  border-bottom: 2px solid #fff;
}

.rectangle1_2 {
  content: "";
  width: 80px;
  height: 10px;
}

.rectangle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 50%;
  margin-right: -70px;
  top: 170px;
}

.rectangle2_1 {
  content: "";
  width: 30px;
  height: 10px;
  border-bottom: 1px solid #fff;
}

.border_internal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 259px;
  height: 259px;
  border: 1px solid #fff;
}

.border_internal p:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}

.border_internal p:nth-child(2) {
  font-size: 60px;
  margin-top: 26px;
}

.border_internal p:nth-child(3) {
  color: #fff;
  font-size: 20px;
  margin-top: 32px;
}

.border_internal p:nth-child(4) {
  font-size: 32px;
  margin-top: 16px;
}

.border_internal p span {
  display: inline-block;
  margin-left: 20px;
}

.button1 {
  position: absolute;
  width: 188px;
  height: 54px;
  background-color: #f09d66;
  left: 50%;
  margin-left: -94px;
  top: 470px;
  text-align: center;
}

.button1 a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  line-height: 54px;
}

.button1:hover {
  background-color: rgba(36, 36, 36, 0.5);
}

.sliderDots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 188px;
  left: 50%;
  margin-left: -94px;
  bottom: 25px;
  text-align: center;
  cursor: pointer;
}

.slider-dots_item {
  margin: 6px;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #b2b2b2;
  border: 1px solid #989592;
}

.slider-dots_item:hover {
  background-color: #000;
  border: 1px solid #494643;
}

.active {
  background-color: #000;
  border: 1px solid #494643;
}

.shape_left_block {
  position: absolute;
  width: 65px;
  height: 90px;
  top: 300px;
  border-radius: 10px;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.shape_left_block:hover {
  background: rgba(36, 36, 36, 0.3);
}

.shape_left_block:hover .shape_left {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.shape_left_block:hover .shape_right {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.shape_right_block {
  position: absolute;
  width: 65px;
  height: 90px;
  top: 300px;
  border-radius: 10px;
  cursor: pointer;
  right: 50%;
  -webkit-transform: translate(600px);
          transform: translate(600px);
}

.shape_right_block:hover {
  background: rgba(36, 36, 36, 0.3);
}

.shape_right_block:hover .shape_left {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.shape_right_block:hover .shape_right {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.shape_left {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  left: 23px;
}

.shape_left:hover {
  border-left: 2px solid rgba(36, 36, 36, 0.5);
  border-bottom: 2px solid rgba(36, 36, 36, 0.5);
}

.shape_right {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 25px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  right: 23px;
}

.shape_right:hover {
  border-left: 2px solid rgba(36, 36, 36, 0.5);
  border-bottom: 2px solid rgba(36, 36, 36, 0.5);
}

.support {
  background-color: #fff;
}

.buttons {
  margin-top: 68px;
  margin-bottom: 68px;
}

.buttons .fas {
  font-size: 47px;
}

.buttons .far {
  font-size: 47px;
}

.buttons div div {
  margin-left: 10px;
}

.buttons div div h4 {
  margin-bottom: 10px;
}

.button_left {
  position: relative;
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  color: #fff;
}

.button_left:hover {
  background-color: rgba(36, 36, 36, 0.5);
  color: #000;
  cursor: pointer;
}

.button_left:hover:after {
  border-color: transparent rgba(36, 36, 36, 0.5);
}

.button_left:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent #d9bf8f;
  right: -50px;
  border-width: 50px 0 50px 50px;
  z-index: 3;
}

.button_right {
  position: relative;
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  color: #fff;
}

.button_right:hover {
  background-color: rgba(36, 36, 36, 0.5);
  color: #000;
  cursor: pointer;
}

.button_right:hover:after {
  border-color: transparent rgba(36, 36, 36, 0.5);
}

.button_right:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent #d9bf8f;
  left: -50px;
  border-width: 50px 50px 50px 0;
}

.button_center {
  position: relative;
  width: 444px;
  height: 100px;
  background-color: #000;
  margin-left: 33px;
  margin-right: 33px;
  color: #fff;
}

.button_center:hover {
  background-color: rgba(36, 36, 36, 0.5);
  color: #000;
  cursor: pointer;
}

.button_center:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent #fff;
  left: 0;
  border-width: 50px 0 50px 50px;
}

.button_center:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent #fff;
  right: 0;
  border-width: 50px 50px 50px 0;
}

.recent_title h2 {
  font-size: 30px;
}

.border_rec {
  width: 425px;
  border-bottom: 1px solid #eaeaea;
}

.rhombus {
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #d9bf8f;
}

.table ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 62px;
  margin-bottom: 94px;
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 8px;
}

.table img {
  width: 300px;
  height: 345px;
  padding: 9px;
}

.like {
  display: none;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 300px;
  height: 345px;
  background-color: rgba(0, 0, 0, 0.55);
}

.like .far {
  font-size: 50px;
  color: #fff;
  margin-top: 130px;
  -webkit-animation-name: heart;
          animation-name: heart;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    margin-top: 130px;
  }
  15% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  30% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  45% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  60% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  75% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  90% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    margin-top: 130px;
  }
}

@keyframes heart {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    margin-top: 130px;
  }
  15% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  30% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  45% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  60% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  75% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
    margin-top: 125px;
  }
  90% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    margin-top: 135px;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    margin-top: 130px;
  }
}

.table li {
  position: relative;
}

.table li:hover .like {
  display: block;
}

.table a {
  display: block;
}

.trapezoid {
  border-bottom: 40px solid #000;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 146px;
  position: absolute;
  bottom: 0%;
  margin-bottom: 11px;
  left: 50%;
  margin-left: -113px;
}

.trapezoid p {
  color: #fff;
  position: absolute;
  top: 11px;
  left: 10px;
}

.trapezoid:hover {
  border-bottom: 40px solid #f0975c;
}

.sale {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #feab12;
  color: #fff;
  line-height: 60px;
}

.table li:nth-child(2) .sale {
  display: none;
}

.table li:nth-child(3) .sale {
  display: none;
}

.table li:nth-child(6) .sale {
  display: none;
}

.table li:nth-child(7) .sale {
  display: none;
}

.footer {
  background-color: #141414;
  color: #fff;
}

.footer_column1 {
  display: none;
}

.footer_top {
  padding-bottom: 120px;
  padding-top: 74px;
}

.column li {
  margin-top: 18px;
}

.column li a {
  color: #6d6d6d;
  font-size: 14px;
}

.column li:nth-child(1) {
  margin-top: 54px;
}

.icons2 div {
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 52px;
}

.icons2 div:hover {
  background-color: #6d6d6d;
  cursor: pointer;
}

.icons2 div:hover .icon {
  color: rgba(36, 36, 36, 0.5);
}

.icons2 .icon {
  font-size: 23px;
  color: #000;
  margin: auto;
}

.column_right h5 span {
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.email {
  position: relative;
  border: 1px solid #323030;
  margin-top: 57px;
  width: 310px;
  height: 38px;
}

.email input:first-child {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  padding-left: 20px;
}

.email input::-webkit-input-placeholder {
  color: #323030;
  font-size: 12px;
}

.email input:-ms-input-placeholder {
  color: #323030;
  font-size: 12px;
}

.email input::-ms-input-placeholder {
  color: #323030;
  font-size: 12px;
}

.email input::placeholder {
  color: #323030;
  font-size: 12px;
}

.email input:last-child {
  background-color: #323030;
  border: none;
  text-transform: uppercase;
  color: #fff;
  width: 100px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}

.footer_bottom {
  font-size: 11px;
  color: #363636;
  padding-bottom: 120px;
}

.footer_bottom ul {
  width: 170px;
  margin-top: 20px;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#toTop div {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

#toTop div:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 17px;
  height: 17px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=style.css.map */